<!DOCTYPE html>
<html>
<head><title>Add Founder</title></head>
<body>
<h1>Add New Founder</h1>
<form method="post">
    Name: <input type="text" name="name"><br>
    Education: <input type="text" name="education"><br>
    Years of Experience: <input type="number" name="experience_years"><br>
    Number of Previous Startups: <input type="number" name="prev_startups"><br>
    Domain Expertise: <input type="text" name="domain_expertise"><br>
    <input type="submit" value="Add Founder">
</form>
<a href="/founders">Back to Founders</a>
</body>
</html>